
body {
    margin: 0;
    padding: 0;
    font-family: Sans;
}

#header {
    width: 949px;
    margin: 0 0 25px 0;
    background: #6D84B4;
    border: 1px solid #3B5998;
    border-bottom: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 10px 50px;
    text-align: left;
}

#main {
    width: 1000px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0px 15px black;
    text-align: center;
    padding: 0 0 50px 0;
    height: 450px;
}

/*
 same size as main div
*/
#loading {
    width: 1000px;
    height: 450px;
    position: absolute;
    z-index: 100;
    background-color: white;
}

#loading h2 {
    margin: 50px 50px 0 50px;
}

#loading div {
    margin: 20px 50px 50px 50px;
}

#fl {
    width: 600px;
    display: inline-block;
    vertical-align: top;
}

#incoming_messages, #contact_holder, #history_holder {
    text-align: left;
    padding: 0 40px 0 50px;
    overflow-y: auto;
    max-height: 400px;
}

#newmessage {
    margin-bottom: 40px;
}

div.h2 {
    font-size: 16px;
    display: inline-block;
    padding: 0.5em;
    background-color: #99A2B4;
    color: #FFF;
    margin: 0px;
    border: 0px;
}

div.h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

div.active_h2 {
    background-color: #6D84B4;
}

div.active_h2:hover {
    background-color: #6D84B4;
    text-decoration: none;
    cursor: default;
}


#menu {
    text-align: left;
    margin-bottom: 15px;
}

label {
    text-align: left;
    display: block;
    font-weight: bold;
    font-size: 11px;
    color: #333;
}

#nw_text_label {
    margin: 10px 0 0 0;
}

#contacts {
    width: 300px;
    height: 300px;
    display: inline-block;
    overflow: hidden;
    margin-top: 13px;
}

#contacts_list {
    height: 268px;
    overflow: auto;
}

#nm_send_btn {
    font-size: 13px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    outline: none;
    padding: 1px 0 2px;
    white-space: nowrap;
    text-align: center;
    background-color: transparent;
    border: 0;
}

#send_label {
    min-width: 44px;
    cursor: pointer;
    display: -moz-inline-box;
    display: inline-block;
    padding: 2px 6px;

    background: #EEE url('/img/btn_bg.png') repeat 0 0;
    background-position: 0 -48px;
    border: 1px solid #999;
    border-bottom-color: #888;
    border-color: #29447E #29447E #1A356E;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);

    line-height: normal !important;
    
}

textarea {
    width: 542px;
    padding: 5px;
    min-height: 210px;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 16px;
    color: #333;
    border: 1px solid #8496BA;
}

#nm_to {
    border: 1px solid #8496BA;
    padding: 3px 0 0 3px;
    width: 550px;
}

#nm_to div {
    display: inline-block;
    margin: 0 3px 1px 0;
}

#nm_to_value {
    font-size: 14px;
    color: #6D84B4;
    width: 20px;
    padding: 0 0.2em;
    margin: 0.5em;
    border: 0px;
    cursor: pointer;
}

#nm_to_value:focus {
    cursor: text;
    width: 150px;
    border: 1px solid #6D84B4;
}

#nm_send, #nm_notes {
    vertical-align: top;
    display: inline-block;
}

#nm_notes {
    font-size: 11px;
    color: #333;
    /*padding-top: 3px;*/
}


#newmessage, #contacts {
    text-align: left;
}

div.rcpt {
    background-color: #8496BA;
    border-radius: 0.5em;
    color: white;
    font-size: 9pt;
}

div.rcpt_data {
    margin: 5px 0px 5px 12px !important;
    width: 140px;
}

div.rcpt_name, div.rcpt_phone {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    display: block !important;
}

div.rcpt_phone {
    cursor: pointer;
    border: 1px solid #8496BA;
}

div.rcpt_phone:hover {
    border: 1px solid #FFF;
}


div.number_change {
    position: absolute;
    z-index: 100;
    background-color: #8496BA;
    border: 1px solid black;
    color: white;
    font-size: 12px;
}

div.rcpt_del {
    width: 20px;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    padding-top: 12px;
    height: 15px;
}

div.rcpt_del:hover {
    -webkit-border-radius: 8px;
    background-color: #5872A7;
}

div.rcpt_del img {
    width: 7px;
    height: 7px;
    background: url(/img/remove_rcpt.png) no-repeat;
    background-position: 0px -14px;
    vertical-align: top;
}

div.rcpt_del img:hover {
    background-position: 0px -7px;
}

#contacts_header_title, #contacts_sort_holder {
    display: inline-block;
    width: 50%;
}

#contacts_sort_holder {
    text-align: right;
}

#contacts_sort {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    color: #333;
    border: 1px solid #8496BA;
}

#contacts_header {
    background-color: #F2F2F2;
    border-top: solid 1px #E2E2E2;
    padding: 4px 5px 5px;
    font-size: 11px;
    color:#333;
    font-weight: bold;
    margin-bottom: 8px;
}

#contacts_list ul {
    margin: 0;
    padding: 0;
}

#contacts_list li {
    /*font-weight: bold;*/
    /*color: #3B5998;*/
    color: #6D84B4;
    
    /*font-family: "lucida grande",tahoma,verdana,arial,sans-serif;*/
    /*font-size: 11px;*/
    list-style: none;
    padding: 2px 0 2px 5px;
}

#contacts_list li:hover {
    background-color: #EEEEFF;
}

#contacts_list li.selected {
    background-color: #FFFFEE;
}

div.contact_avatar, div.contact_info {
    display: inline-block;
}

div.contact_info {
    
    vertical-align: top;
    width: 230px;
}

div.contact_avatar {
    width: 50px;
    height: 50px;
}

div.contact_name {
    height: 25px;
    padding: 0 0 0 25px;
}

div.contact_add, div.contact_about {
    opacity: 0;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    min-width: 45px;
}

div.contact_add {
    background: url('/img/add.png') no-repeat;
    margin-left: 25px;
}

div.contact_about {
    background: url('/img/info.png') no-repeat;
}

div.contact_info:hover div.contact_add, div.contact_info:hover div.contact_about {
    opacity: 1;
}

div.history_item {
    padding: 0.5em 0;
    font-size: 10pt;
}

div.history_item div {
    display: inline-block;
    padding: 0.5em;
}

div.history_text {
    width: 550px;
}

div.history_date {
    width: 90px;
    color: #808080;
}

div.history_rcpt {
    color: #3B5998;
    width: 150px;
    cursor: pointer;
}

div.history_ctrl {
    overflow: hidden;
    padding: 0.5em 0 !important;
}

div.status_delivered {
    height: 16px;
    width: 16px;
    background: url('/img/delivered.png') no-repeat;
}

div.history_status {
    width: 40px;
    padding: 0 !important;
}

div.history_status div {
    padding: 0 !important;
    width: 16px;
    height: 16px;
}

span.avatar_sms {
    cursor: pointer;
    background-color: #C11919;
    text-align: center;
    width: 13px;
    color: #FFF;
    font-size: 9pt;
    z-index: 90;
    margin: 34px 0 0 -18px;
    position: absolute;
    -webkit-border-radius: 4px;
}