body {
    min-width: 610px;
    min-height: 360px;
    max-height: 360px;
    margin: 0;
    padding: 0;
    font-family: 'Calibri', sans;
}

::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-track-piece  {
background-color: #354973;
-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
height: 50px;
background-color: #6796fb;
-webkit-border-radius: 6px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    /*height: 1px;*/
    /*width: 1px;*/
    display: none;
    /*background-color: transparent;*/
}

#contacts_list::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

#contacts_list::-webkit-scrollbar-track-piece  {
    background-image: url('/img/contacts_scroll_bg.png');
    -webkit-border-radius: 6px;
}

#contacts_list::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    /*background-color: #6796fb;*/
    background-image: url('/img/contacts_scroll_thumb.png');
    -webkit-border-radius: 6px;
}

#contact_history::-webkit-scrollbar-track-piece, #history_list::-webkit-scrollbar-track-piece  {
    background-image: url('/img/msg_scroll_bg.png');
    width: 6px;
}

#body {
    /*box-flex:1;*/
    /*margin:0 auto;*/
}

#main {
    margin: 4px;
    display:-webkit-box;
    -webkit-box-orient: horizontal;
    display:box;
    box-orient: horizontal;
}

#content {
    
    margin-right: 4px;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;

    display: box;
    /*box-orient: vertical;*/

    box-flex: 1;
    -webkit-box-flex: 1;
}

#sidebar {
    width: 240px;
    background-color: #4b6e95;
    /*box-shadow: inset 10px -5px 10px -5px #FFF;*/
    /*box-shadow: -5px 0 15px #888;*/
    background-image: url('/img/contacts_bg.png');
}


/* content */

#user, #history {
    max-height: 360px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    display: box;
    box-orient: vertical;
    -webkit-box-flex: 1;
    
    -webkit-box-align: center;
    box-align: center;
}


#user_header {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    height: 44px;
    margin: 0px;
    width: 100%;
    background-image: url('/img/h2_bg.png');
    color: #FFF;

    display: box;
    box-orient: horizontal;
    box-align: center;
}

#user_name {
    text-align: left;
    font-size: 16pt;
    padding: 0 0 0 10px;
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#user_phones {
    height: 24px;
    display: box;
    box-flex: 1;
    display: -webkit-box;
    -webkit-box-flex: 1;
    font-size: 9pt;
    padding: 10px 0 0 10px;
    background: no-repeat url('/img/user_number_bg.png');
    background-position: 0 5px;
}

#user_phones:hover {
    background: no-repeat url('/img/user_number_bg_hovered.png');
    background-position: 0 5px;
}

#user_phones.has_mmore_pphones {
    /* TODO ADD triangle that will indicate other numbers */
}

#phones_select {
    z-index: 200;
    position: absolute;
    background-color: #578BF5;
    border: 2px solid white;
    box-shadow: 0px 3px 10px #777;
    width: 140px;
    overflow: auto;
    box-sizing: border-box;
    left: 170px;
    top: 38px;
    height: 90px;
}


#phones_select ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #FFF;
    font-size: 9pt;
}

#phones_select ul li {
    padding: 5px 0 0 22px;
}

#phones_select ul li:hover {
    cursor: pointer;
    background: no-repeat url('/img/contact_selected.png');
}

#user_close {
    width: 22px;
    overflow: hidden;
    background: no-repeat url('/img/close_normal.png');
    cursor: pointer;
    background-position: 0 2px;
}

#user_close:hover {
    background-image: url('/img/close_hovered.png');
}

#history_messages, #contact_holder, #history_holder, #user_messages {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 15px 0 15px 10px;

    -webkit-box-flex: 1;
    box-flex: 1;
}

#contact_holder, #history_holder {
    text-align: left;
    padding: 0 20px 0 20px;
}

/* /content */

/*
 same size as main div
*/
#loading, #fader {
    top: 0;
    left: 0;
    width: 750px;
    height: 450px;
    position: absolute;
    z-index: 250;
    background-color: white;
}

#fader {
    background-color: #000;
    opacity: 0.5;
    color: #FFF;
    top: 0;
    left: 0;
}

#status {
    position: absolute;
    z-index: 120;
    background-color: #FFFFEE;
    color: #000;
    top: 380px;
    left: 25px;
    padding: 4px;
    font-size: 10pt;
}

#loading h2 {
    margin: 50px 50px 0 50px;
}

#loading div {
    margin: 20px 50px 50px 50px;
}

#history_header {
    height: 44px;
    margin: 0px;
    width: 100%;
    background-image: url('/img/h2_bg.png');
    text-align: left;
    font-size: 16pt;
    color: #FFF;
    font-weight: normal;
    padding: 0 0 0 10px;

    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-sizing: border-box;
    display: box;
    box-align: center;
    box-sizing: border-box;
}


#history_list {
    -webkit-box-flex: 1;
    overflow-y: auto;
}

label {
    text-align: left;
    display: block;
    font-weight: bold;
    font-size: 11px;
    color: #333;
}

#nw_text_label {
    margin: 10px 0 0 0;
}

#contact {
    text-align: left;
}

#contact div.contact_info {
    margin: 50px 0 0 -8px;
    font-weight: bold;
}

#close_info {
    margin: 10px 0 0 20px;
}

#contact, #contacts {
    height: 360px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    
    display: box;
    box-orient: vertical;

    /*overflow: hidden;*/
}

#contacts_header {
    background-image: url('/img/header_bg.png');

    font-size: 11px;
    color: white;
    height: 44px;

    display: -webkit-box;
    display: box;
    -webkit-box-orient: horizontal;

}

#contacts_header > div {
    display: -webkit-box;
    display: box;
    -webkit-box-align: center;
}

#contacts_header_title {
    padding: 0 0 0 10px;
    -webkit-box-flex: 1;
    box-flex: 1;
    /*padding: 0 0 0 10px;*/
    font-size: 18px;
    color: #FFF;
}

#signout {
    -webkit-box-flex: 0;
    width: 60px;
    font-weight: bold;
    font-size: 7pt;
}

#signout:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*#contacts_header_title {*/
    /*display: -webkit-box;*/
    /*display: box;*/
    /*width: 100%;*/
/*}*/


#contacts_list {
    -webkit-box-flex: 1;
    box-flex: 1;
    overflow: auto;
    margin: 0;
    border-top: 1px solid #556A97;
}

#reply_holder {
    width: 100%;
    height: 105px;
    background-image: url('/img/reply_holder_bg.png');
    border: 1px solid #d4d7de;
    box-sizing: border-box;
}

#replysms {
    box-sizing: border-box;
    margin: 10px;
    padding: 0;
    min-height: 50px;
    height: 50px;

    border: 1px solid #D4D7DE;
    border-top: 1px solid #9FA1A6;
    background-color: #FFF;
    font-size: 12px;
    padding: 1px 2px;
}

#nm_reply {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;

    display: box;
    box-align: center;
    box-orient: horizontal;

    -webkit-box-pack: justify;
    margin: 5px 10px 10px 10px;
    box-sizing: border-box;
}

#reply_sms_count {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: box;
    box-align: center;
    box-pack: center;

    width: 47px;
    height: 22px;
    background: no-repeat url('/img/sms_count_bg.png');
    color: #9fa1a6;
    font-size: 9px;
    font-weight: bold;
}

#reply_sms_count.mmoresms {
    background: no-repeat url('/img/sms_count_bg_active.png');
    color: #b38324;
}

#replysmsbtn {
    display: -webkit-box;
    -webkit-box-align: center;
    display: box;
    box-align: center;
    
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;

    -webkit-border-image: url('/img/send_btn_bg.png') 0 11 0 11;
    border-width: 0 11px;
    height: 25px;
}

#replysmsbtn:hover {
    -webkit-border-image: url('/img/send_btn_bg_hovered.png') 0 11 0 11;
    border-width: 0 11px;
}


textarea {
    width: 342px;
    padding: 5px;
    min-height: 210px;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 16px;
    color: #333;
    border: 1px solid #8496BA;
}

#nm_to {
    border: 1px solid #8496BA;
    padding: 3px 0 0 3px;
    width: 350px;
    max-height: 50px;
    overflow: auto;
}

#nm_to div {
    display: inline-block;
    margin: 0 3px 1px 0;
}

#nm_to_value {
    font-size: 14px;
    color: #6D84B4;
    width: 20px;
    padding: 0 0.2em;
    margin: 0.5em;
    border: 0px;
    cursor: pointer;
}

#nm_to_value:focus {
    cursor: text;
    width: 150px;
    border: 1px solid #6D84B4;
}

#nm_notes {
    font-size: 11px;
    color: #333;
    /*padding-top: 3px;*/
}


#newmessage, #contacts {
    text-align: left;
}

div.rcpt {
    background-color: #8496BA;
    border-radius: 0.5em;
    color: white;
    font-size: 9pt;
}

div.rcpt_data {
    margin: 5px 0px 5px 12px !important;
    width: 140px;
}

div.rcpt_name, div.rcpt_phone {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    display: block !important;
}

div.rcpt_phone {
    cursor: pointer;
    border: 1px solid #8496BA;
}

div.rcpt_phone:hover {
    border: 1px solid #FFF;
}


#number_change {
    background-color: white;
    color: black;
    width: 450px;
    height: 200px;
    position: absolute;
    z-index: 200;
    top: 90px;
    left: 110px;
    border: 10px solid #4B6E95;
    -webkit-border-radius: 0.5em;
    padding: 1em;
    color: #4B6E95;
}

#number_change > ul {
    list-style: square;
    
}

#number_change > ul > li {
    padding-top: 10px;
}

#number_change > ul > li:hover {
    background-color: #4B6E95;
    color: #FFF;
    cursor: pointer;
}

#contacts_filter {
    display: -webkit-box;
    display: box;
    height: 42px;
    border-bottom: 1px solid #354973;
    -webkit-box-align: center;
    
    background-image: url('/img/filter_bg.png');
}

#contacts_sort {
    background-color: #354973;
    border: 0px;
    color: #739fff;
    width: 180px;
    margin: 3px 0 0 35px;
    outline:none;
}

#contacts_list ul {
    margin: 15px 0 0 0;
    padding: 0;
}

li.contact {
    color: #6D84B4;
    list-style: none;
    height: 22px;
}

li.selected {
    background: no-repeat url('/img/contact_selected.png');
}

li.contact:nth-child(even) {
    background-image: url('/img/contacts_bg_even.png');
}

li.contact:hover {
    background-image: url('/img/contacts_bg_hover.png');
    
}

li.contact:hover div.contact_name {
    color: #FFF;
}

li.NewSMS div.contact_name {
    color: #ffb700 !important;
}

li.NewSMS div.avatar_sms {
    width: 32px;
    height: 19px;
    display: inline-block;
    font-family: sans-serif;
    color: #FFF;
    font-size: 9pt;
    text-align:center;
    cursor: pointer;
    background: no-repeat url('/img/new_sms.png');
    font-weight: bold;
}

li.NewSMS:hover div.avatar_sms {
    background-image: url('/img/new_sms_hover.png');
    color: #578bf5;
}

div.contact_avatar, div.contact_info {
    display: inline-block;
}

div.contact_info {
    color: #ccddff;
    font-size: 9pt;
}

div.contact_avatar {
    width: 50px;
    height: 50px;
}



div.contact_name {
    width: 185px;
    display: inline-block;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.contact_name u {
    background-color: #5D90F7;
    color: #FFF;
    text-decoration: none;
}

div.contact_add, div.contact_about {
    opacity: 0;
    cursor: pointer;
    display: inline-block;
}

div.contact_add {
    background: url('/img/add.png') no-repeat;
    width: 20px;
}

div.contact_about {
    width: 20px;
    background: url('/img/info.png') no-repeat;
}

div.contact_info:hover div.contact_add, div.contact_info:hover div.contact_about {
    opacity: 1;
}


div.history_item {
    margin-bottom: 15px;
    font-size: 12px;
    display: -webkit-box;
    display: box;
}

div.history_rcpt {
    color: #40588a;
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.sending {
    background: url('/img/sending2.gif') no-repeat !important;
    height: 80px !important;
}

div.history_text {
    color: #000;
    -webkit-box-flex: 1;
    box-flex:1;
    padding: 0 10px 0 0;
    max-width: 215px;
    overflow: hidden;
}

#user_messages #contact_history {
    /*max-height: 195px;*/
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 15px;
    
    display: -webkit-box;
    display: box;
    
    -webkit-box-orient: vertical;
    box-orient: vertical;
    
    -webkit-box-flex: 1;
    box-flex: 1;
}

span.date {
    font-size: 10px;
    color: #9fa1a6;
}

div.history_ctrl {
    overflow: hidden;
    padding: 0.5em 0 !important;
}

div.status_delivered {
    height: 16px;
    width: 16px;
    background: url('/img/delivered.png') no-repeat;
}

div.history_status {
    width: 40px;
    padding: 0 !important;
}

div.history_status div {
    padding: 0 !important;
    width: 16px;
    height: 16px;
}

div.phones_list {
    color: #FFF;
    padding: 25px 0 0px 20px;
}

ul.phones_list {
    list-style: square;
    color: #FFF;
}